{:source-paths ["src"]
 :jvm-opts ["-Xmx2G"]
 :dependencies [[cider/cider-nrepl "0.24.0"]
                [cider/piggieback "0.4.1"]
                [org.clojure/core.async "1.1.587"]
                [refactor-nrepl "2.5.0"]]

 :nrepl {:middleware [cider.piggieback/wrap-cljs-repl
                      refactor-nrepl.middleware/wrap-refactor]}

 :builds {:tests
          {:target :node-test
           :output-dir "tests"
           :output-to "tests/orbitdb-tests.js"
           :ns-regexp "tests.orbitdb-*"
           :optimizations :none

           ;; :js-options
           ;; {:resolve {"CustomController" {:target :file
           ;;                                :file "src/tests/BasicController.js"
           ;;                                ;; :file "./node_modules/orbit-db-access-controllers/src/orbitdb-access-controller.js"
           ;;                                }}}

           ;; :compiler-options {:output-feature-set :es6
           ;;                    :infer-externs :auto
           ;;                    :optimizations :simple}

           ;; needs to be set to false to report correct status code in CI
           :autorun false}}}
