{:source-paths ["src"]
 :jvm-opts ["-Xmx2G"]
 :dependencies [[cider/cider-nrepl "0.24.0"]
                [cider/piggieback "0.4.1"]
                [org.clojure/core.async "1.1.587"]
                [refactor-nrepl "2.5.0"]]

 :nrepl {:middleware [cider.piggieback/wrap-cljs-repl
                      refactor-nrepl.middleware/wrap-refactor]}

 :builds {:tests
          {:target :node-test
           :output-dir "tests"
           :output-to "tests/orbitdb-tests.js"
           :ns-regexp "tests.orbitdb-*"
           :optimizations :none
           ;; needs to be set to false to report correct status code in CI
           :autorun false}}}
